html,body
{
	background-color:rgb(80, 80, 80);
	height: 100%;
	width: 100%;
}
#conteneur
{
	display: flex;
	flex-direction: row;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.elem
{
	flex-direction: column;
	background-color: rgb(144, 144,144);
	border-radius: 10px;
	box-shadow: 8px 8px 8px black;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
.elem:nth-child(1)
{
	width: 100%;
	margin-left: 12%;
	margin-right: 12%;
	height: 15%;
	z-index: 1;
}
.elem:nth-child(2)
{
	width: 8%;
	height: 50%;
}
.elem:nth-child(3)
{
	width: 50%;
}
.elem:nth-child(4)
{
	display: block;
	width: 8%;
	height: 50%;
	/*min-height: 400px;*/
}
.elem:nth-child(5)
{
	position: relative;
	width: 100%;
	margin-left: 10%;
	margin-right: 55%;
	margin-top: -4%;
	background-color: rgb(140, 253, 142);
	z-index: 3;
}
#loupe
{
	position: relative;
	left:50%;
	z-index: 2;
}
#title
{
	/*display: inline-block;*/
	width: 35%;
	height: 90%;
	margin-top: 2px;
	margin-bottom: 5%;
	margin-left: 3%;
	overflow: cover;
}
.photo_in_center
{
	width: 50%;
	margin-left: 25%;
}
#cluster
{
	display: block;
	width: 97%;
	margin-left: 10px;
	margin-top: 10px;
	/*margin-bottom: 10px;*/
	margin-right: 10px;
}
